target/
.mvn/wrapper/maven-wrapper.jar
.idea
*.iml
*.ipr
*.iws
.vscode
.settings
.classpath
.project
.DS_Store
*.log
.git
.gitignore
.gitattributes
README.md
HELP.md
.mvn/wrapper/maven-wrapper.properties

